* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background-color: whitesmoke;
    box-shadow: 5px 5px rgba(143, 142, 142, 0.533);
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
}

.cal:hover {
    box-shadow: 5px 5px rgba(122, 122, 122, 0.533);
}

.cal:before {
    content: "";
    background-color: rgb(255, 253, 250);
    top: 5;
    left: 0;
    width: 600px;
    height: 50px;
    position: absolute;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
}

.cal:hover:before {
    transform: translateX(40%) rotate(45deg);
}

.row1 {
    text-align: center;
    margin-bottom: 20px;
    background-color: whitesmoke;
}

.row1 input {
    height: 50px;
    width: 270px;
    background-color: whitesmoke;
    font-size: xx-large;
    direction: rtl;
    border-radius: 5px;
}

.row2, .row3, .row4, .row5, .row6 {
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    margin-bottom: 20px;
}

.col1 button, .col2 button, .col3 button, .col4 button {
    height: 50px;
    width: 50px;
    background-color: whitesmoke;
    border-radius: 5px;
    transition: all 0.3s;
}

.col1 button:hover, .col2 button:hover, .col3 button:hover, .col4 button:hover {
    cursor: pointer;
    box-shadow: 2px 2px rgba(78, 77, 77, 0.533);
}

h1 {
    background-color: whitesmoke;
}